*
!.cade
!.editorconfig
!.envrc
!.gitignore
!.rustfmt.toml
!.taplo.toml
!Cargo.lock
!Cargo.toml
!CHANGELOG.md
!README.md
!flake.lock
!flake.nix

!contrib/
!contrib/**
!crates/
!crates/**
!docs/
!docs/**
!examples/
!examples/**
!nix/
!nix/**
